[Unit]
Description=Airflow scheduler
ConditionPathExists={{ airflow_home }}/airflow.db

[Service]
EnvironmentFile={{ airflow_home }}/environment.sh
User={{ airflow_user }}
Type=simple
ExecStart=/bin/bash -c '{{ airflow_exec }} scheduler -D'
Restart=on-failure

[Install]
WantedBy=multi-user.target
