[Unit]
Description=Airflow webserver
ConditionPathExists={{ airflow_home }}/airflow.db

[Service]
EnvironmentFile={{ airflow_home }}/environment.sh
User={{ airflow_user }}
Type=simple
ExecStart=/bin/bash -c '{{ airflow_exec }} webserver -D --port 8080'
Restart=on-failure

[Install]
WantedBy=multi-user.target
